In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import networkx as nx

In [2]:
pd.options.mode.chained_assignment = None  # remove pd indexing warning

In [3]:
df = pd.read_excel('Canada.xlsx',
                   sheet_name='Canada by Citizenship',
                   skiprows = range(20),
                   skipfooter = 2)

In [4]:
columns = ['OdName']
for i in range(2004, 2014):
    columns.append(i)
df = df.filter(columns)

In [5]:
'''
dictionary of populations for each country we will be use, using 2004 data (in millions)

The 4 archetypes:
C1 = resource-rich, dense
C2 = resource-rich, sparse
C3 = resource-poor, dense
C4 = resource-poor, sparse
'''
populations = {
    "Singapore": ('C1', 4.167),
    "Netherlands": ('C1', 16.26),
    "United Kingdom": ('C1', 59.79),
    "Australia": ('C2', 20.13),
    "Sweden": ('C2', 8.976),
    "United States": ('C2', 292.8),
    "Lebanon": ('C3', 4.569),
    "India": ('C3', 1131),
    "Philippines": ('C3', 84.71),
    "Libya": ('C4', 5.71),
    "Bolivia": ('C4', 9.069),
    "Iran": ('C4', 68.95)
}

In [6]:
'''
Plan: 

Use supervised learning to predict immigration levels into Atlantis

Have 2 developed countries: Atlantis & 
Other 3 countries are developing

We need a system using our current interfaces to build a turn-based game

Need a way to implement part 1 into an instance of a player, and also
include a game manager.
'''

'\nPlan: \n\nUse supervised learning to predict immigration levels into Atlantis\n\nHave 2 developed countries: Atlantis & \nOther 3 countries are developing\n\nWe need a system using our current interfaces to build a turn-based game\n\nNeed a way to implement part 1 into an instance of a player, and also\ninclude a game manager.\n'

In [16]:
countries_df = pd.DataFrame()

In [17]:
for country in populations:
    archetype = populations[country][0]
    population = populations[country][1]
    
    country_df = df.loc[df["OdName"] == country]
    country_df['Arch'] = archetype
    for i in range(2004, 2014):
        country_df[i] /= population
        
    countries_df = countries_df.append(country_df)

In [18]:
countries_df

,OdName,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Arch
156,Singapore,74.634029,94.072474,71.514279,165.586753,176.145908,87.832973,193.184545,52.555796,35.037197,33.837293,C1
122,Netherlands,46.063961,50.000000,51.476015,37.822878,50.307503,48.339483,46.678967,36.039360,30.996310,24.292743,C1
183,United Kingdom,125.990968,121.391537,119.417963,137.414283,150.175615,148.452919,145.910687,103.763171,103.612644,97.457769,C1
9,Australia,46.199702,45.156483,43.467462,51.316443,50.571287,50.571287,46.348733,42.275211,48.782911,55.688028,C2
167,Sweden,14.371658,22.838681,15.485740,21.501783,18.382353,18.605169,17.713904,14.928699,15.597148,15.597148,C2
185,United States,23.872951,28.668033,32.831284,32.318989,34.801913,30.720628,27.807377,26.215847,26.950137,29.033470,C2
96,Lebanon,720.726636,811.775005,832.129569,758.809367,780.477128,673.451521,751.149048,672.357190,353.250164,475.377544,C3
79,India,24.964633,32.015915,29.927498,25.412909,24.987622,26.044209,30.269673,24.322723,27.350133,29.254642,C3
136,Philippines,165.316964,214.130563,217.211663,234.175422,293.790580,337.303742,455.872978,434.010152,405.087947,348.766379,C3
99,Libya,34.325744,34.325744,49.211909,34.676007,53.590193,49.387040,67.250438,61.646235,52.364273,44.658494,C4
21,Bolivia,9.372588,14.775609,15.326938,11.798434,15.768001,23.596868,19.847833,9.482854,9.152056,11.798434,C4
81,Iran,92.066715,84.655547,108.484409,101.145758,93.908629,95.431472,108.440899,108.469906,109.267585,163.756345,C4

In [19]:
regression_df = pd.DataFrame(columns=['Arch', 'Year', 'Immigration'])

In [ ]:
# TODO: add regression part